* {
  margin: 0;
}


.nav {
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}

.navigator {
  z-index: 999;
  background: rgb(240, 239, 239);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .actual {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 1.5rem;
  }
}

.a {
  text-decoration: none;
  // padding: 0.25rem;

  padding: 0.1rem;
  display: block;
  font-size: 1.75em;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.a {
  color: #000;
}

.ham {
  background: rgb(240, 239, 239);
  color: rgb(0, 0, 0);
  font-size: 1.6em;
  padding: 0.1rem 0rem 1.35rem 0rem;
  display: none;
  // border-bottom: 0.25px solid lightblue;
}

#nav-icon {
  span {
    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 12px;
    }

    &:nth-child(4) {
      top: 24px;
    }
  }

  &.open span {
    &:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    &:nth-child(2) {

      transform: rotate(45deg);
    }

    &:nth-child(3) {

      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}

#nav-icon {
  width: 3rem;
  height: 2rem;
  position: relative;
  margin: 1em auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  border-radius: 9px;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
}

.actual .active {
  color: lightcoral;
}

#home {
  // border:2px solid rgb(240, 239, 239); 
  // background: rgb(240, 239, 239);
  width: 100%;
  height: 100vh;
}

.blrImg {
  filter: grayscale(100%);
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-image: url(../stickersorgslate.jpg);
  filter: blur(9px);
  background-position: center;
  // background-repeat: no-repeat;
  background-size: cover;
}

.combo {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  border-radius: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 1rem;
  text-align: center;
}

.outPic {
  margin-top: 0.25rem;
  display: flex;
  justify-content: center;
}

.myPic {
  margin-top: 4.5rem;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
}

.pitch p {
  color: white;
  text-align: center;
  margin-top: 2rem;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

#projects {
  // border-top: 1px solid lightblue;
  height: 100vh;
  box-sizing: border-box;
  background: rgb(240, 239, 239);

}

.h1Titel {
  margin-top: 0rem;
  position: relative;
  top: 0.75em;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.projectsContainer {
  top: 2.75em;
  position: relative;
  box-sizing: border-box;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.projectBox {
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 1.5%;
  height: 20em;
  margin: 1.25em;
  font-family: 'Roboto', sans-serif;

  .projectBox-titel {
    text-align: center;
  }

  .tech {
    margin-top: 0.5rem;
    margin-bottom: 0.125rem;
    margin-left: 0.625em;
  }

  .techSpecs {
    font-weight: 500;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 0.625em;
  }

  .tryIt {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 1em;
    text-decoration: none;
    color: #000;
    left: 17em;
    bottom: 2.25rem;
  }
}

.slide-container {
  position: relative;
  overflow: hidden;
  margin: 0.625rem;

  &:hover {

    .slide-next,
    .slide-prev {
      opacity: 0.7;
      // transition: all 1s ease-in;
    }
  }
}

.slide-next,
.slide-prev {
  position: absolute;
  top: 30%;
  z-index: 6;
  transition-property: opacity;
  transition-duration: 0.85s;
  width: auto;
  height: auto;
  padding: 5% 5%;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.75em;
  opacity: 0;
  cursor: pointer;
}

.slide-next:hover,
.slide-prev:hover {
  opacity: 0.8;
  transition: all 1s ease;
}

.slide-next {
  right: 0;
}

.slide-container ul {
  position: relative;
  width: 20em;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  li {
    float: left;
    position: relative;
    display: block;
    width: inherit;
    text-align: center;

    img {
      margin: 0 auto;
      width: 100%;
      height: 11rem;
      position: relative;
      display: block;

    }
  }
}

////
#skills {
  // border-top: 1px solid lightblue;
  background: rgb(240, 239, 239);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}



.bigBigBox {
  position: relative;
  top: -3rem;
  display: flex;
}

.skillbar {
  display: block;
  margin-bottom: 2rem;
  width: 27.5rem;
  height: 4.25em;
  z-index: -1;
}

.bg {
  width: inherit;
  height: inherit;
  background-image: url(../wallhaven-120534.png);
  background-position: center;
  background-size: cover;

  :nth-of-type(1) {
    height: 4.25em;
    width: 6em;
  }
}

.bigBox {
  z-index: 1;
  margin-top: 3rem;
  position: relative;
  transform: rotate(270deg);
  width: 20rem;
  // top: 1%;
  right: 5em;
}

.box {
  margin-left: 0.9rem;
  margin-top: 3em;
  display: flex;

  .techImgBox {
    margin-right: 1rem;

  }
}

.techImgBox :first-child {
  transform: rotate(90deg);
  position: relative;
  top: 0.8rem;
}

.box {
  &:nth-of-type(2) div:nth-child(2) {
    margin-left: 0.3rem;
  }
}

.sides {
  flex-grow: 1;
}

.thanos {
  width: 3em;
  z-index: 7;
  position: relative;
  top: 13.5em;
  left: 97em;

}

.legend {
  position: absolute;
  width: 79em;
  // left: 1vw;
  top: 5.5em;
  font-family: Roboto, sans-serif;

  & h1 {
    z-index: 1;
    width: 52em;
    position: relative;
    top: 4.85em;
    left: 14.2em;
    margin-top: 1.7em;
    border-bottom: 1.25px solid lightgrey;

    span {
      font-weight: 600;
      width: 5em;
      font-size: 1.2em;
    }

    p {
      width: 10em;
      font-weight: 100;
      position: relative;
      left: 64.5em;
      font-size: 0.7em;
    }
  }

}

#about {
  background: rgb(240, 239, 239);
  width: 100%;
  height: 100vh;

  .penBox {
    position: relative;
    left: 0;
    right: 0;
    top: 5em;
    margin: -1em auto 0 auto;
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .pens {
      margin: 1.5em;
      height: 16rem;
      width: 32rem;
    }
  }
}



#contact {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: rgb(240, 239, 239);
}

.topContact {
  margin: 7em auto;
  border: 1px solid black;
  width: 90%;
  height: 65%;
  background-image: url(../wallhaven-gimp-blur.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  form {
    margin-top: 1rem;
    width: 100%;
    height: 90%;
    display: flex;

    .formLeft {
      margin-top: 5%;
      width: 50%;

      input[type="text"] {
        border-radius: 3px;
        font-family: inherit;
        border: none;
        font-size: 1.35em;
        width: 50%;
        height: 8%;
        margin: 0 25%;
        background-color: transparent;
        background-color: rgba($color: #ffffff, $alpha: 0.9);

        &:nth-child(2) {
          margin-top: 2%;
          width: 40%;
        }

        &:nth-child(3) {
          margin-top: 2%;
          width: 30%;
        }
      }

      input[placeholder] {
        color: black;
      }

      input::placeholder {
        color: black;
      }
    }

    .formRight {
      width: 50%;
      margin-top: 5%;

      textarea {
        font-family: 'Roboto', sans-serif;
        border-radius: 3px;
        resize: none;
        font-size: 2em;
        margin: 0 auto;
        display: block;
        width: 80%;
        height: 60%;
        background-color: transparent;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
      }

      textarea[placeholder] {
        color: black;
      }

      textarea::placeholder {
        color: black;
      }

    }
  }
}

.sbmtBtn {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1.25em;
  margin-top: 5%;
  margin-left: 75%;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  display: block;
  width: 15%;
  border: 2px solid white;
  transition: 500ms ease-out;


  &:hover {
    color: white;
    box-shadow: 0px 2px 30px 0px rgba(255, 255, 255, 1);
    background: transparent;
    transition: 500ms ease-in;
  }
}

//////////
.bContact {
  position: relative;
  bottom: 1em;
  background: rgb(240, 239, 239);
  width: 100%;
  margin: 0 auto;

  .links {
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    width: 45vw;
  }

  a {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition-duration: 0.25s
  }

  .svgs {
    transition: fill 0.05s ease;
  }

  a {
    &:nth-of-type(1):hover {
      fill: #4875B4;
      transform: scale(1.5);
    }

    &:nth-of-type(2) {
      filter: brightness(0%);
      transition: filter 0.25s ease;

      &:hover {
        transform: scale(1.5);
        filter: brightness(100%);
      }
    }

    &:nth-of-type(3):hover {
      fill: #33CCFF;
      transform: scale(1.5);
    }

    &:nth-of-type(4):hover {
      fill: white;
      background: black;
      transform: scale(1.5);
    }

    &:nth-of-type(5):hover {
      fill: #db3236;
      transform: scale(1.5);
    }

    &:nth-of-type(6):hover {
      fill: white;
      background: black;
      transform: scale(1.5);
    }

    &:nth-of-type(7) {
      filter: brightness(0%);
      transition: filter 0.5s ease;

      &:hover {
        transform: scale(1.5);
        filter: brightness(100%);
      }
    }

    &:nth-of-type(8) {
      filter: brightness(0%);
      transition: filter 0.25s ease;

      &:hover {
        filter: brightness(100%);
        transform: scale(1.5);
      }
    }
  }
}

.hand {
  font-family: 'Roboto';
  background: rgb(240, 239, 239);
  width: 100%;

  .handmade {
    margin: 0;
    text-align: center;
    font-size: 2em;
  }
}

@import "./values.scss";

@media only screen and (max-width:$screenLg) and (max-aspect-ratio: 13/9){
  html {
    font-size: 0.76em
  }

  .thanos {
    width: 3em;
    z-index: 7;
    position: relative;
    top: 12.75em;
    // left: 102.5em;

  }

  .legend {
    position: absolute;
    width: 12em;
    top: 4.5em;
    font-family: Roboto, sans-serif;

    & h1 {
      z-index: 1;
      // width: 54em;
      position: relative;
      top: 4.85em;
      // left: 16.5em;
      margin-top: 1.7em;
      border-bottom: 1.25px solid lightgrey;

      span {
        font-weight: 600;
        width: 5em;
        font-size: 1.2em;
      }

      p {
        left: 66em;
        width: 10em;
        font-weight: 100;
        position: relative;
        font-size: 0.7em;
      }
    }

  }

  #projects {
    height: 120vh;
    justify-content: space-evenly;
  }

  /////
  #about {
    height: 140vh;
  }

  /////
  .projectsContainer {
    top: 2.5em;
    width: 90vw;
  }

  .techImgBox {
    margin-right: 1em;
  }

  .box {
    &:nth-of-type(2) div:nth-child(2) {
      margin-left: 0.4rem;
    }
  }

  ;

  .techImgBox :first-child {
    top: 0.5rem;
  }
}

@media (max-width:$screenMd) {
  html {
    font-size: 0.7em;
  }

  .bigBigBox {
    top: -4rem;
  }

  #projects {
    height: 105vh;
  }

  .projectsContainer {
    top: 2.5em;
    width: 90vw;
  }

  .thanos {
    width: 3em;
    z-index: 7;
    position: relative;
    top: 12.75em;
    // left: 101em;
  }

  .legend {
    & h1 {
      p {
        left: 64.5em;
      }
    }
  }

  #about {
    height: 140vh;
    .penBox {
      width: 100%;
      height: 75%;
    }
  }
}

@media (max-width:$screenSm) {
  html {
    font-size: 0.6em;
  }

  .a {
    font-size: 2em;
  }

  .projectsContainer {
    top: 5em;
  }

  .thanos {
    top: 5em;
    left: 86em;
  }

  #skills {
    height: 95vh;
  }

  .legend {
    top: 3.8em;

    & h1 {
      width: 45em;
      top: 0.01em;
      left: 1.4em;
      margin-top: 1.9em;

      p {
        left: 55em;
      }
    }
  }

  #projects {
    height: 140vh;
  }

  .bigBigBox {
    top: 5em;
  }

  .box {
    margin-top: 2em;
  }

  .skillbar {
    height: 3.5em;
  }

  .box {
    &:nth-of-type(2) div:nth-child(2) {
      margin-left: 0.5em;
    }
  }

  .bg {
    :nth-of-type(1) {
      height: 3.5em;
      width: 4em;
    }
  }

  .actual {
    height: 2.25em;
  }

  .techImgBox :first-child {
    top: -0.3em;
  }

  #about {
    .penBox {
      margin: 5em auto 0 auto;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 80%;

      .pens {
        margin: 1rem;
        height: 8rem;
        width: 23rem;
      }
    }
  }
}

@media (max-width:$screenLgPhones) {
  html {
    font-size: 0.6em;
  }

  .ham {
    display: block;
  }
  .navigator {
    display: none;
    background: rgb(240, 239, 239);
    bottom: 2em;

    .actual {
      display: block;
      height: 3em;
      margin-top: 1.5em;
      margin-bottom: 1.25em;
    }
  }

  .a {
    font-size: 2em;
  }

  #projects {
    height: 300vh;
  }

  .projectsContainer {
    display: block;
    top: 5em;
    width: 90vw;
    height: 100%;
  }

  ///done//
  .projectBox {
    margin-top: 3em;
    height: 25em;

    .tech {
      font-size: 1.75em;
      margin-top: 0.75em;
    }

    .techSpecs {
      font-size: 1.75em;
      margin-top: 0.25em;
    }

    .projectBox-titel {
      font-size: 1.65em;
    }

    .tryIt {
      font-weight: 600;
      font-size: 2em;
      color: #000;
      left: 15.5em;
      bottom: 2em;
    }

    .slide-container ul {
      width: 35em;

      li {
        img {
          height: 12em;
        }
      }
    }
  }

  //

  #skills {
    height: 75vh;
  }

  .bigBigBox {
    top: -4rem;
  }

  .skillbar {
    margin-bottom: 1.1em;
    height: 2em;
  }

  .bg {
    :nth-of-type(1) {
      height: inherit;
      width: 4em;
    }
  }

  .bigBox {
    margin-top: 20rem;
    width: 20em;
    ////////move the skillbars
    right: 5em;
  }

  .box {
    margin-left: 0.9rem;
    margin-top: 1em;

    .techImgBox {
      margin-right: 1em;
    }
  }

  .techImgBox :first-child {
    /////////////////////////////////////////////////////////////////////////////////////under
    width: 1.7em;
    top: 0.25rem;
  }

  .img2 {
    position: relative;
    left: 0.25em;
    font-size: 0.8em;
  }

  .box {
    &:nth-of-type(2) div:nth-child(2) {
      margin-left: 0.4em;
    }
  }

  .techImgBox3>.img {
    top: 0.125em;
  }

  .techImgBox4>.img {
    top: 0.5em;
  }

  .techImgBox6>.img {
    top: -0.1em;
  }

  .thanos {
    top: 11em;
    left: 40em;
  }

  .legend {
    width: 21em;
    left: 1vw;
    top: 5em;

    & h1 {
      width: 26em;
      top: 3em;
      // left: 2em;
      margin-top: 2.1em;

      span {
        font-weight: 600;
        width: 5em;
        font-size: 1.5em;
      }

      p {
        font-weight: 400;
        width: 10em;
        font-weight: 100;
        left: 34.4em;
        font-size: 0.6em;
      }
    }

  }

  #about {
    height: 300vh;
    .penBox {
      margin: 7em auto 0 auto;
      width: 100%;
      height: 96%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .pens {
        margin: 1.5em;
        height: 16.55rem;
        width: 32rem;
      }
    }
  }

  #contact {
    height: 105vh;
  }

  .topContact {
    form {
      margin-top: 1rem;
      display: block;

      .formLeft {
        position: relative;
        display: flex;
        flex-direction: column;
        right: 15.5%;
        margin-top: 12.5%;
        width: 100%;

        input[type="text"] {
          border-radius: 3px;
          font-family: inherit;
          border: none;
          font-size: 1.75em;
          width: 50%;
          height: 8%;
          margin: 0 25%;
          background-color: transparent;
          background-color: rgba($color: #ffffff, $alpha: 0.9);
        }
      }

      .formRight {
        position: relative;
        top: 5%;
        width: 100%;
        height: inherit;

        textarea {
          width: 80%;
          height: 65%;
          background-color: transparent;
          background-color: rgba($color: #ffffff, $alpha: 0.9);
        }

      }
    }
  }

  .sbmtBtn {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 1.25em;
    margin-top: 5%;
    margin-left: 75%;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    display: block;
    width: 15%;
    border: 2px solid white;
    transition: 500ms ease-out;
  }

  //////////
  .bContact {
    background: rgb(240, 239, 239);
    width: 100%;
    height: 5%;
    margin: 0 auto;

    .links {
      margin: 3em auto;
      display: flex;
      justify-content: space-between;
      width: 70vw;
    }

    a {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      transition-duration: 0.25s
    }

    //////
  }

  .hand {
    font-family: 'Roboto';
    background: rgb(240, 239, 239);
    width: 100%;

    .handmade {
      text-align: center;
      font-size: 2em;
    }
  }
}

@media (max-width:$screenMdPhones) {
  html {
    font-size: 0.5em;
  }

  .ham {
    font-size: 1.6em;
    padding: 0.1rem 0rem 1.4em 0rem;
  }

  #projects {
    height: 265vh;
  }

  .slide-container ul {
    width: 30em;

    li {
      img {
        width: 90%;
        height: 12em;
      }
    }
  }
  .bigBox {
    margin-top: 20rem;
    width: 20em;
    ////////move the skilbars
    right: 6.5em;
  }
  .bigBigBox {
    top: -4rem;
  }

  .thanos {
    width: 2.5em;
    top: 11.5em;
    left: 41em;
  }

  .legend {
    width: 45em;
    top: 4.6em;

    & h1 {
      width: 27.75em;
      top: 3em;
      // left: 2.5em;
      margin-top: 1.95em;

      p {
        left: 28.1em;
        font-size: 0.73em;
      }
    }
  }
}

@media (max-width:$screenSmPhones) {
  html {
    font-size: 0.46em;
  }



  .slide-container ul {
    width: 30em;

    li {
      img {
        width: 90%;
        height: 12em;
      }
    }
  }

  .projectBox {
    .tryIt {
      left: 14.7em;
    }
  }



  .thanos {
    width: 2.5em;
    top: 11em;
    left: 40em;
  }

  .legend {
    z-index: 6;
    width: 40em;
    top: 2em;

    & h1 {
      width: 27.5em;
      top: 4.85em;
      // left: 0.45em;

      span {
        font-weight: 600;
        width: 5em;
        font-size: 1.2em;
      }

      p {
        width: 10em;
        font-weight: 100;
        left: 28.5em;
      }
    }

  }

  .techImgBox3>.img {
    top: 0.05em;
  }

  .techImgBox6>.img {
    top: -0.25em;
  }

  

  #contact {
    height: 100vh;
  }
}